body {
	font-family:  Helvetica, sans-serif; 
	background:#fcfcfc;
	margin:0px auto;
	font-size:16px;
	color:#264d9d;
	font-size:14px;
}

header{ background:#fff; overflow:auto; padding:30px 0px; border-bottom:5px solid #264d9d;}
header img{ width:20%; float:left}
header p{ float: left; width:35%; padding-left:50px; margin:0px;}
header ul{ width:30%; float:left;}
header ul li{ float: left;}
header ul li a{ padding:10px 20px; background:#fcfcfc; border:1px solid #f3f3f3; color:#000;}
header ul li a:hover{ background:#ccc; cursor:pointer;}
.title1 { display:inline-block ; margin:10px 15px; padding-top:5px;;}

.container{ width:980px; margin:0px auto; }
.shadow{ box-shadow:0px 1px 6px #bbb; overflow:hidden;}
.two-third{ width:73%; float:left; margin-left:5px;}
.one-third{ width:24%; float:left;  margin-left:5px;}

.multicolumn1 a:hover{ color:#000;}
.multicolumn1 li{ margin-left:10px;}
.multicolumn1 a{ text-decoration:none; display:inline-block; margin:1px 10px; padding:4px 5px; }	
.multicolumn1{ 
margin:10px 5px 20px;
padding: 0px;
list-style-type:square;
-moz-column-count: 5;
-moz-column-gap: 10px;
-webkit-column-count: 5;
-webkit-column-gap: 10px;
column-count: 5;
column-gap: 10px;
list-style-position: inside;
}

hr{ border: 0; border-top: 1px solid #264d9d;}
footer{ width:100%; overflow:auto; border-top:5px solid #264d9d; text-align:center; }

#full{ position:fixed; width:100%; height:100%; background:rgba(0,0,0,0.3); top:0px; left:0px; display:none; }
#fullin {background:#fff; z-index: 100002; position: relative; height: auto; width: 720px; margin:0px auto; margin-top:110px; display: none; padding:10px;}
#fullin a{ text-decoration:none; color:#000;}

.titlenav p{ padding:10px; padding-right:30px; background:#3b5ca1; display:inline-block; color:#fff; background-image:url(../img/bg.jpg); background-position: right; background-repeat:no-repeat; background-size: 25px 100%; }
.titlenav select { float:right; margin:25px 25px 0px; padding:5px;}
.titlenav { overflow:auto;}

.ProTable{ width:100%;}
.ProTable tr{ background:#f4f4f4; border:1px solid #eee; display:block; margin:5px; width:100%;}
.ProTable td:nth-child(1){ width:100px; vertical-align:top;}
.ProTable td:nth-child(2){ width:430px; font-size:16px; padding-bottom:15px;}
.ProTable td:nth-child(2) span{ font-size:13px; color:#333;}
.ProTable td:nth-child(2) h3{ margin:15px 0px 5px;}
.ProTable td:nth-child(3){ width:80px; color:#000; font-size:18px; font-weight:bold;text-align:center;}
.ProTable td:nth-child(4){ width:80px; color:#bbb; text-align:center;}
td img { border:1px solid #eee; width:70px; height:70px; background:#fff; padding:10px; margin-top:20px;}

.Filter{ list-style:none; padding:15px; background:#f4f4f4; border:1px solid #eee; margin-top:5px;}
.Filter > a { cursor:default; color:#000; font-weight:bold; font-size:16px;}
.Filter a{ cursor:pointer; padding-bottom:5px; display:block;}
.Filter input{ cursor:pointer; margin:5px 5px;	color:#264d9d; font-size:14px;}
.Filter button {background-color: #a5b900;border: none;width: 29px;height: 29px;vertical-align: middle;margin-left: -10px;margin-top: -2px; background-image:url(../img/search.png); background-size:20px; background-repeat:no-repeat; background-position:4px;}
.Filter input[type^=text]{ padding:5px; margin:0px; border:none;}
.searchborder { margin: 0px;padding: 0px;display: inline-block; border:1px solid #ccc; border-radius:2px;}

.buy li{ margin-bottom:10px;}
.title{ margin-left:10px;}
.showpro{ background:#f4f4f4; margin-bottom:10px; text-align:center; overflow:auto;}
.showproitems{ float:left;  text-align: right; }
.showpro img {padding:10px; cursor:pointer; } 
.showproitems img {padding:10px; width:50px; background:#fff; margin:4px; display:block; cursor:pointer;} 
.buy { list-style:none;padding-left:15px; border-bottom:1px soli #ccc;}
.price { font-size:20px; font-weight:bold;}
.contactemail { font-size:16px; font-weight:bold;}
.small{ font-size:10px;}
.buy button { padding:10px; background:#f76a18; border:1px solid #ccc; border-radius:3px; font-size:18px; color:#fff; width:94%;}

.nav{ clear:both; margin:8px; text-align:right; padding-right:7px;}
.nav a { padding:5px; background:#eee; text-decoration:none;}

#full{ position:fixed; width:100%; height:100%; background:rgba(0,0,0,0.3); top:0px; left:0px; display:none; }
#fullin {background:#fff; z-index: 100002; position: relative; height: auto; width: 720px; margin:0px auto; margin-top:110px; display: block; padding:10px; text-align:center;}
#fullin a{ text-decoration:none; color:#000;}
.advmenu img{margin-top:5px;}
.smsbutton{ width: 70px;
height: 30px;
background: #4bba4b;
border: 0px;
box-shadow: 1px 1px 2px #333;
cursor: pointer;
color: #fff;
border-radius: 2px;
}

.leftcol{width:720px; float:left}
.rightcol{width:230px; float:left; margin-left:10px;}
.yellowtitle{background:#ffffaa; border-bottom:2px solid #006699;}