body {
	font-family:  Helvetica, sans-serif; 
	background:#fcfcfc;
	margin:0px auto;
	font-size:16px;
	color:#264d9d;
	font-size:14px;
}
/*
input {
    border: 2px solid black; 
    -webkit-box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 4px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}
*/
a{ text-decoration:none;}
header{ background:#fff; overflow:auto; padding:30px 0px; border-bottom:5px solid #264d9d;}
header img{ width:20%; float:left}
header p{ float: left; width:35%; padding-left:50px; margin:0px;}
header ul{ width:30%; float:left;}
header ul li{ float: left;}
header ul li a{ padding:10px 20px; background:#fcfcfc; border:1px solid #f3f3f3; color:#000;}
header ul li a:hover{ background:#ccc; cursor:pointer;}
.title a{ background:#fff; border:1px solid #f3f3f3; box-shadow:1px 1px 2px #ccc; cursor:pointer; padding:10px 20px; font-size:18px; margin-top:15px; margin-left:40px; display:inline-block; float:left;}
.title{ overflow:auto; width:100%;}
.title h1{ display:inline-block ; float:left;}
.title button{ padding:5px 82px; font-size:24px; font-weight:bold; margin-right:5px; margin-top:15px; background:#264d9d; border:none; color:#fff; float:right;cursor:pointer;}
.container{ width:980px; margin:0px auto; }
.two-third{ width:75%;}
.one-third{ width:90%; margin-bottom:10px; padding:3%; float:left; background:#fff; border:1px solid #eee; }
.one-third h4{ margin:5px 0px;}
.one-third a{ display:block; text-decoration:none; color:#333; font-size:14px;}
.adv{ width:25%; float: left;}
.adv img{ width:100%; border:1px solid #eee;  margin-top:5px;}
.column{ width:33%; float:left;}

.multicolumn{
list-style-type:square;
-moz-column-count: 3;
-moz-column-gap: 10px;
-webkit-column-count: 3;
-webkit-column-gap: 10px;
column-count: 3;
column-gap: 10px;
list-style-position: inside;
}

hr{ border: 0; border-top: 1px solid #264d9d;}
.cities, .state { padding:10px; background:#f3f3f3; margin-bottom:10px; border:1px solid #eee;}
.countrytxt { font-size:16px; padding:10px; color:#264d9d; text-transform:uppercase;}
footer{ width:100%; overflow:auto; border-top:5px solid #264d9d; text-align:center; }
#full{ position:fixed; width:100%; height:100%; background:rgba(0,0,0,0.3); top:0px; left:0px; display:none; }
#fullin {background:#fff; z-index: 100002; position: relative; height: auto; width: 720px; margin:0px auto; margin-top:110px; display: none; padding:10px;}
#fullin a{ text-decoration:none; color:#000; }

/* product page */
.title1{ background:#ffffc4; margin:0px; padding:10px; display:inline-block;}
.product{ padding:20px;background:#ffffc4; margin-top:0px;}
.product li a{color:#000; }
